<a href="https://colab.research.google.com/github/GiovanaThais/POO-PY/blob/main/Fila.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
from collections import deque
fila = deque (maxlen = 4) #criando uma fila de tamanho maximo = 4 
fila.append(1) #adicionando valores a lista
fila.append(2)
fila.append(3)
fila.append(4)
fila.append(5) #adicionando uma a mais para teste
print(fila) #ao adicionar um a mais ele remove o elemento mais atigo (o 1 ) para botar outro na fila
fila.appendleft(0) # adicionando a esquerda da fila
print(fila) #ao adicionar elemento a esquerda ele tira o lugar do ultimo ,removendo o ultimo elemento 
fila.pop() #função pop remove elementos do final
print(fila)
fila.popleft() #remove da esquerda
print(fila)

deque([2, 3, 4, 5], maxlen=4)
deque([0, 2, 3, 4], maxlen=4)
deque([0, 2, 3], maxlen=4)
deque([2, 3], maxlen=4)

In [12]:
#FILA DE PRIORIDADE
import heapq
idades = [15,20,40,6,18,25,10]
heapq.nsmallest(3,idades) #para acessar os 3 menores numeros da lista
heapq.nsmallest(2,idades)
heapq.nlargest(2,idades) #para acessar os 2 maiores numeros da lista]
heapq.heapify(idades) #para ordenar do menor pra o maior 
print(idades)
idades[0] #corresponde ao menor item da lista 
heapq.heappop(idades) #para remover o menor item da lista
idades
heapq.heappush(idades,8) #adicionando elemento na lista ordenada
idades
heapq.heappush(idades,55)
idades

[6, 15, 10, 20, 18, 25, 40]

[8, 15, 10, 20, 18, 40, 25, 55]

In [19]:
import heapq

class PriorityQueue:

	def __init__(self):
		self._queue = []
		self._index = 0

	def push(self, item, priority):
		heapq.heappush(self._queue, (-priority, self._index, item))
		self._index += 1

	def pop(self):
		return heapq.heappop(self._queue)[-1]

class Person:

	def __init__(self, name):
		self.name = name

	def __repr__(self):
		return self.name


q = PriorityQueue()
q.push(Person('Marcos'), 28)
q.push(Person('Joao'), 30)
q.push(Person('Maria'), 15)
q.push(Person('Gabriel'), 40)

print(q.pop())

Gabriel

In [2]:
class Pessoa:

	def __init__(self, nome, idade):
		self.nome = nome
		self.idade = idade

	def __repr__(self):
		return self.nome


def pelo_nome(pessoa):
	return pessoa.nome

def pela_idade(pessoa):
	return pessoa.idade

p1 = Pessoa('Marcos', 28)
p2 = Pessoa('Joao', 30)
p3 = Pessoa('Ana', 25)

pessoas = [p1, p2, p3]

print(sorted(pessoas, key = pelo_nome))
print(sorted(pessoas, key = pela_idade, reverse=True))

[Ana, Joao, Marcos]
[Joao, Marcos, Ana]

In [4]:
lista = [10,5,9,4,2,1,6,0]
sorted(lista)
dicionario = {2:'b',1:'a',3:'c'}
sorted(dicionario)

[1, 2, 3]

In [5]:
def pai(num):
  
	def filho1():
		print('Oi, eu sou o filho1')

	def filho2():
		print('Oi, eu sou o filho2')

	try:
		assert num == 20 #se valor atribuido a pai for 20 retorna o filho 1
		return filho1
	except AssertionError: #ao atribuir valor diferente de 20 retornado o filho 2
		return filho2


f1 = pai(10) #f1 aponta para filho 2
f2 = pai(20) #f2 aponta para filho1

f1()
f2()

Oi, eu sou o filho2
Oi, eu sou o filho1

In [ ]:
d = defaultdict(set)
d['marcos'].add(20)
d['marcos'].add(30)
d['marcos']

In [8]:
#controlando ordem em um dicionario
from collections import OrderedDict
d = OrderedDict()
d['python'] = 10
d['java'] = 6
d['php'] = 5
d['c'] = 10
d['ruby'] = 7
for key in d :
  print(key,d[key])

python 10
java 6
php 5
c 10
ruby 7

In [12]:
#unindo listas 
c = {1,2,3}
d = {3,4,5,6,7,8}
print(c)
print(d)
print(type(c)) #para saber o tipo do obj
c | d #unindo c e d
#intersecção de uma lista com a outra
c & d #elementos em comum nas duas listas 
c - d #elementos que tem em c e nao tem em d
c ^ d #elementos que estao em c e d mas nao estao em ambos

{1, 2, 3}
{3, 4, 5, 6, 7, 8}
<class 'set'>

{1, 2, 4, 5, 6, 7, 8}