<a href="https://colab.research.google.com/github/GiovanaThais/POO-PY/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#tuplas com enummerate
precos = {'tablet':2000,'notebook':3000,'iphone':5000}
print(precos) 
min_preco = min(zip(precos.values(),precos.keys()))
print(min_preco) #menor valor da lista e ao q ele esta ligado 
max_preco = max(zip(precos.values(),precos.keys()))
print(max_preco) #maior valor da lista e ao q ele esta ligado
min(precos.values()) #retorna apenas o menor valor da lista

{'tablet': 2000, 'notebook': 3000, 'iphone': 5000}
(2000, 'tablet')
(5000, 'iphone')

2000

In [6]:
from collections import Counter
palavras = ['voz','vespa','noite','passaro','voz','vespa']
palavras_cont = Counter(palavras)
#verificar palavras mais comuns 
palavras_cont.most_common(2)

[('voz', 2), ('vespa', 2)]

In [12]:
#ordenando um dicionario 
from operator import itemgetter
from itertools import groupby #para fazer agrupamentos
d = [{'nome':'joao','idade':22,'data':'21/08/98'},{'nome':'maria','idade':20,'data':'21/08/98'},{'nome':'mary','idade':24,'data':'21/10/96'}]
d_por_nome= sorted(d,key=itemgetter('nome'))
d_por_idade = sorted(d,key = itemgetter('idade'))
d_por_idade
min(d,key=itemgetter('idade')) #para saber a menor idade
# faz a iteração
for data, items in groupby(d, key=itemgetter('data')):
	print(data)
	for i in items:
		print(' ', i)
#criando um novo dicionario para extrair um subconjunto de um conjunto 
#d2 = {key: value for key ,value in d.datas() if value>=22} #dictionare comprehenson

21/08/98
  {'nome': 'joao', 'idade': 22, 'data': '21/08/98'}
  {'nome': 'maria', 'idade': 20, 'data': '21/08/98'}
21/10/96
  {'nome': 'mary', 'idade': 24, 'data': '21/10/96'}